[mysqld_safe]
nice 				= -15

[client]
socket 				= /var/lib/mysql/mysql.sock
default-character-set 		= utf8

[mysqld]
## Charset and Collation
character-set-server 		= utf8
collation-server 		= utf8_general_ci
performance_schema = ON

## Files
back_log 			= 300
port 				= 3306
#bind-address			= 127.0.0.1
socket 				= /var/lib/mysql/mysql.sock
pid-file 			= /var/lib/mysql/mysql.pid
skip-external-locking
skip-name-resolve

## Logging
datadir				= /var/lib/mysql
log_error			= mysql-error.err

## Per-Thread Buffers * (max_connections) = total per-thread mem usage
thread_stack 			= 256K	  #default: 32bit: 192K, 64bit: 256K
sort_buffer_size 		= 2M	  #default: 2M, larger may cause perf issues
read_buffer_size 		= 2M	  #default: 128K, change in increments of 4K
read_rnd_buffer_size 	= 2M	  #default: 256K				
join_buffer_size 		= 4M	  #default: 128K

## Query Cache
query_cache_size 		= 0	#global buffer
query_cache_limit 		= 0	#max query result size to put in cache

## Connections
max_connections 		= 200	#multiplier for memory usage via per-thread buffers
max_connect_errors 		= 20000	#default: 10
concurrent_insert		= 2	#default: 1, 2: enable insert for all instances
connect_timeout			= 60	#default -5.1.22: 5, +5.1.22: 10
max_allowed_packet 		= 128M	#max size of incoming data to allow
wait_timeout=28000
bulk_insert_buffer_size = 256M


## Default Table Settings
sql_mode 			= 

## Table and TMP settings
max_heap_table_size 		= 1G	#recommend same size as tmp_table_size
bulk_insert_buffer_size 	= 1G	#recommend same size as tmp_table_size
tmp_table_size              = 1G    #recommend 1G min
#tmpdir                         = /opt/mysqltmp #Recommend using RAMDISK for tmpdir

## Table cache settings
#table_cache 			= 512	#5.0.x <default: 64>
table_open_cache		= 20000	#5.1.x, 5.5.x <default: 64>

## Thread settings
#thread_concurrency		= 12  #recommend 2x CPU cores
thread_cache_size		= 16 #recommend 5% of max_connections


## MyISAM Engine
key_buffer_size			= 800M	#global buffer
myisam_sort_buffer_size		= 128M	#index buffer size for creating/altering indexes
myisam_max_sort_file_size	= 256M	#max file size for tmp table when creating/alering indexes
myisam_repair_threads		= 4	#thread quantity when running repairs
myisam-recover-options		= BACKUP	#repair mode, recommend BACKUP 

## InnoDB IO Capacity - 5.1.x plugin, 5.5.x
#innodb_io_capacity		= 2000

## InnoDB IO settings -  5.1.x only
#innodb_file_io_threads		= 16

## InnoDB IO settings -  5.5.x and greater
#innodb_write_io_threads 	= 16
#innodb_read_io_threads		= 16

## InnoDB Plugin Independent Settings
innodb_data_home_dir            = /var/lib/mysql
innodb_data_file_path		= ibdata1:10M:autoextend
innodb_log_file_size		= 384M	#64G_RAM+ = 768, 24G_RAM+ = 512, 8G_RAM+ = 256, 2G_RAM+ = 128 
innodb_log_files_in_group	= 2	#combined size of all logs <4GB. <2G_RAM = 2, >2G_RAM = 4
innodb_buffer_pool_size		= 3G 	#global buffer
innodb_file_per_table			#enable always
innodb_flush_log_at_trx_commit	= 2	#2/0 = perf, 1 = ACID
innodb_table_locks		= 0	#preserve table locks
innodb_log_buffer_size 		= 128M 	#global buffer
innodb_lock_wait_timeout 	= 60	
innodb_thread_concurrency	= 8	#recommend 2x core quantity
innodb_commit_concurrency	= 4	#recommend 4x num disks
innodb_flush_method		= O_DIRECT	   #O_DIRECT = local/DAS, O_DSYNC = SAN/iSCSI
skip-innodb-doublewrite
innodb_buffer_pool_instances    = 3
innodb_max_dirty_pages_pct = 0

## TX Isolation
#transaction-isolation		= REPEATABLE-READ #REPEATABLE-READ req for ACID, SERIALIZABLE req XA


# Recovery
#max_connections=1
#innodb_force_recovery = 1
#innodb_purge_threads = 0

[mysqldump]
quick
quote-names
max_allowed_packet 		= 128M
